<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zztl.testapi.dao.zzkj_user.UserMapper">


    <insert id="saveUser" parameterType="com.zztl.testapi.vo.UserVo" >

        insert into zzkj_user.zzkj_user(username,password)
        values(#{username },#{ password})

    </insert>







</mapper>
